.bread-crumb {
    /*border-top:  1px solid #DCDCDC;*/
    /*border-left:  1px solid #DCDCDC;*/
    /*border-right:  1px solid #DCDCDC;*/
    /*padding: 7px;*/
    width: auto;
    line-height: 21px;
    font-family: Arial,Verdana,Tahoma,Helvetica;
    font-size: 12px;
}
.bread-crumb ul {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    display: inline-block;
}

.bread-crumb ul li {
    display: block;
    float: left;
    margin-right:2px;
}

.bread-crumb ul li a {
    text-decoration: underline;
}

.bread-crumb ul li.first span {
    font-weight: bold;
    text-decoration: none;
}

.bread-crumb-line-height {
    line-height: 21px;
}
.bread-crumb-link {
    color: #4271c6;
    cursor: pointer;
    text-decoration: underline;
}

.label-default {
    background-color: #777;
}
.label-new {
    background-color: #8b42d8;
}
.label-complete {
    background-color: #5cb85c;
}
.label-on-hold {
    background-color: #5bc0de;
}
.label-in-analysis {
    background-color: #f02e28;
}
.label-in-progress {
    background-color: #d9cd0e;
}

.input-xs {
    border-radius: 5px;
    font-size: 12px;
    height: 25px;
    line-height: 15px;
    padding: 4px 10px;
}

.truncate-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
    min-width: 100%;
    display: block;
}

.footer-container {
    width: 100%;
    background-image: linear-gradient(to bottom, #fff 0%, #f8f8f8 100%);
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 5px rgba(0, 0, 0, 0.075);
}

/*flat buttons*/
.btn-flat {
    background: #FFFFFF;
    border-color: #CCCCCC;
}
.btn-flat[disabled] {
    opacity: 0.4;
}
.btn-flat-success {
    color: #3C763D;
}
.btn-flat-success:hover,
.btn-flat-success:focus,
.btn-flat-success:active {
    color: #3C763D;
    background-color: #DFF0D8;
}
.btn-flat-warning {
    color: #CDA402;
}
.btn-flat-warning:hover,
.btn-flat-warning:focus,
.btn-flat-warning:active {
    color: #CDA402;
    background-color: #FCF8E3;
}
.btn-flat-danger {
    color: #A94442;
}
.btn-flat-danger:hover,
.btn-flat-danger:focus,
.btn-flat-danger:active {
    color: #A94442;
    background-color: #F2DEDE;
}
.btn-flat-primary {
    color: #2B669A;
}
.btn-flat-primary:hover,
.btn-flat-primary:focus,
.btn-flat-primary:active {
    color: #2B669A;
    background-color: #EBF5FF;
}
.btn-flat-info {
    color: #5BC0DE;
}
.btn-flat-info:hover,
.btn-flat-info:focus,
.btn-flat-info:active {
    color: #5BC0DE;
    background-color: #E6F7FC;
}
.btn-flat-default {
    color: #333333;
}
.btn-flat-default:hover,
.btn-flat-default:focus,
.btn-flat-default:active {
    color: #333333;
    background-color: #E3E3E3;
}