<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="MainApp">
<head>
    <title>PMS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

    <script type="text/javascript" src="lib/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="lib/angular.js"></script>
    <script type="text/javascript" src="lib/angular-animate.js"></script>
    <script type="text/javascript" src="lib/js/angular-block-ui.js"></script>
    <script type="text/javascript" src="lib/js/angular-notifier.js"></script>
    <script type="text/javascript" src="lib/js/angular-strap.js"></script>
    <script type="text/javascript" src="lib/js/angular-strap.tpl.js"></script>
    <script type="text/javascript" src="lib/js/angular-toggle-switch.js"></script>
    <script type="text/javascript" src="lib/js/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="lib/js/Chart.js"></script>
    <script type="text/javascript" src="lib/js/angular-chart.js"></script>
    <script type="text/javascript" src="lib/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/Constants.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

    <script type="text/javascript" src="js/MainController.js"></script>
    <script type="text/javascript" src="js/core/ViewController.js"></script>
    <script type="text/javascript" src="js/DevController.js"></script>
    <script type="text/javascript" src="js/PmController.js"></script>
    <script type="text/javascript" src="js/BusinessViewController.js"></script>
    <script type="text/javascript" src="js/AcViewController.js"></script>
    <script type="text/javascript" src="js/CrViewController.js"></script>
    <script type="text/javascript" src="js/TaskViewController.js"></script>
    <script type="text/javascript" src="js/StatisticController.js"></script>

    <link rel="stylesheet" href="lib/css/angular-block-ui.css" type="text/css" media="all">
    <link rel="stylesheet" href="lib/css/bootstrap-theme.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="lib/css/bootstrap.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="lib/css/angular-chart.css" type="text/css" media="all">

    <link href="lib/css/sb-admin.css" rel="stylesheet">
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="css/app.css" type="text/css" media="all">

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="index.html">Project Management System</a>
    </div>
</nav>
<div style="margin: 5px 5px 0;">
    <div id="wrapper" ng-controller="MainController" style="width: 100%; padding-left: 0;">

        <div class="container">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-collapse">
                    <!-- Navbar links -->


                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#business">Business View</a>
                        </li>
                        <li>
                            <a href="#pm">PM View</a>
                        </li>
                        <li>
                            <a href="#dev">Dev View</a>
                        </li>
                        <li>
                            <a href="#statistic">Sprint Statistic</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                            <ul class="dropdown-menu message-dropdown">
                                <li class="message-preview">
                                    <a href="#">
                                        <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                            <div class="media-body">
                                                <h5 class="media-heading">
                                                    <strong>John Smith</strong>
                                                </h5>
                                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                                <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="message-preview">
                                    <a href="#">
                                        <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                            <div class="media-body">
                                                <h5 class="media-heading">
                                                    <strong>John Smith</strong>
                                                </h5>
                                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                                <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="message-preview">
                                    <a href="#">
                                        <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                            <div class="media-body">
                                                <h5 class="media-heading">
                                                    <strong>John Smith</strong>
                                                </h5>
                                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                                <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="message-footer">
                                    <a href="#">Read All New Messages</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                            <ul class="dropdown-menu alert-dropdown">
                                <li>
                                    <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                                </li>
                                <li>
                                    <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                                </li>
                                <li>
                                    <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                                </li>
                                <li>
                                    <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                                </li>
                                <li>
                                    <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                                </li>
                                <li>
                                    <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">View All</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="jumbotron loading-jumbo" ng-show="doingResolve">
                <h1><i class="fa fa-refresh fa-2x fa-spin"></i> Loading</h1>
            </div>
            <!-- version footer -->
            <div class="panel panel-default">
                <div style="background-color: " block-ui="mainBlockUI"></div>
                <div class="panel-body">

                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <div class="row" style="min-height: 400px;">
                                <div class="col-lg-12">
                                    <div class="panel">
                                        <div ng-if="main.showBreadcrambs" class="bread-crumb" style="margin-bottom: 20px;">
                                            <ul>
                                                <li ng-repeat="item in main.breadCrumbItems track by item.id" class="bread-crumb-line-height">
                                                    <span ng-if="item.id == main.currentBreadCrumbItem.id">{{ item.name }}</span>
                                                    <a ng-if="item.id != main.currentBreadCrumbItem.id" class="bread-crumb-link" ng-click="goToBreadCrumbItem(item)">{{ item.name }}</a>
                                                    <span class="glyphicon glyphicon-chevron-right" style="color: #A3A3A3"></span>
                                                </li>
                                            </ul>
                                        </div>

                                        <div ui-view></div>

                                    </div>
                                </div>
                            </div>
                            <!-- /.row -->

                        </div>
                        <!-- /.container-fluid -->

                </div>
            </div>
            <div class="footer panel" style="padding: 15px; color: #777777;">
                <span>© 2015</span> All Rights Reserved
            </div>
        </div>

        <!-- Navigation -->
        <!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">-->
            <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
            <!--<div class="navbar-header">-->
                <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">-->
                    <!--<span class="sr-only">Toggle navigation</span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                <!--</button>-->
                <!--<a class="navbar-brand" href="index.html">Project Management System</a>-->
            <!--</div>-->
            <!--&lt;!&ndash; Top Menu Items &ndash;&gt;-->
            <!--<ul class="nav navbar-right top-nav">-->
                <!--<li>-->
                    <!--<a href="#">Home</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#dev">Dev View</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#pm">PM View</a>-->
                <!--</li>-->
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu message-dropdown">-->
                        <!--<li class="message-preview">-->
                            <!--<a href="#">-->
                                <!--<div class="media">-->
                                    <!--<span class="pull-left">-->
                                        <!--<img class="media-object" src="http://placehold.it/50x50" alt="">-->
                                    <!--</span>-->
                                    <!--<div class="media-body">-->
                                        <!--<h5 class="media-heading">-->
                                            <!--<strong>John Smith</strong>-->
                                        <!--</h5>-->
                                        <!--<p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur...</p>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="message-preview">-->
                            <!--<a href="#">-->
                                <!--<div class="media">-->
                                    <!--<span class="pull-left">-->
                                        <!--<img class="media-object" src="http://placehold.it/50x50" alt="">-->
                                    <!--</span>-->
                                    <!--<div class="media-body">-->
                                        <!--<h5 class="media-heading">-->
                                            <!--<strong>John Smith</strong>-->
                                        <!--</h5>-->
                                        <!--<p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur...</p>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="message-preview">-->
                            <!--<a href="#">-->
                                <!--<div class="media">-->
                                    <!--<span class="pull-left">-->
                                        <!--<img class="media-object" src="http://placehold.it/50x50" alt="">-->
                                    <!--</span>-->
                                    <!--<div class="media-body">-->
                                        <!--<h5 class="media-heading">-->
                                            <!--<strong>John Smith</strong>-->
                                        <!--</h5>-->
                                        <!--<p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur...</p>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="message-footer">-->
                            <!--<a href="#">Read All New Messages</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu alert-dropdown">-->
                        <!--<li>-->
                            <!--<a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>-->
                        <!--</li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li>-->
                            <!--<a href="#">View All</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li>-->
                            <!--<a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>-->
                        <!--</li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li>-->
                            <!--<a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->

            <!--&lt;!&ndash; Sidebar Menu Items - These collapse to the responsive navigation menu on small screens &ndash;&gt;-->
            <!--&lt;!&ndash;<div class="collapse navbar-collapse navbar-ex1-collapse">&ndash;&gt;-->
                <!--&lt;!&ndash;<ul class="nav navbar-nav side-nav">&ndash;&gt;-->
                    <!--&lt;!&ndash;<li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="tables.html"><i class="fa fa-fw fa-table"></i> Tables</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>&ndash;&gt;-->
                        <!--&lt;!&ndash;<ul id="demo" class="collapse">&ndash;&gt;-->
                            <!--&lt;!&ndash;<li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<a href="#">Dropdown Item</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;</li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<a href="#">Dropdown Item</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li class="active">&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--</nav>-->

        <!--&lt;!&ndash; Page body &ndash;&gt;-->
        <!--<div id="page-wrapper" style="min-height: 500px;">-->

            <!--<div class="container-fluid">-->

                <!--&lt;!&ndash; Page Heading &ndash;&gt;-->
                <!--<div class="row">-->
                    <!--<div class="col-lg-12">-->
                        <!--<div class="panel">-->

                            <!--&lt;!&ndash;<div ui-view></div>&ndash;&gt;-->

                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.row &ndash;&gt;-->

            <!--</div>-->
            <!--&lt;!&ndash; /.container-fluid &ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash; /#page-wrapper &ndash;&gt;-->


    </div>
    <!-- /#wrapper -->
</div>
</body>
</html>