<style>

</style>
<div>
    <div class="bs-callout bs-callout-info" style="margin-bottom: 15px;">
        <strong>{{ cr.name }}</strong> CR details.
    </div>
    <div class="" style="margin-bottom: 15px;">
        <div><strong>Description</strong></div>
        <textarea ng-model="cr.description" class="form-control" style="max-width: 700px; max-height: 75px; min-width: 700px; min-height: 75px;"></textarea>
    </div>
    <div class="" style="margin-bottom: 15px;">
        <div><strong>Attachments</strong> <span ng-click="attachFile()" style="cursor: pointer;" title="Attach new file">(<span style="color: #8896ff;">Attach</span>)</span></div>
        <div>
            <div ng-repeat="attachment in cr.attachments">
                <span style="color: #5d5d5d;">{{ attachment.name }}</span>
                <button ng-click="downloadAttachment(attachment)" class="btn btn-xs glyphicon glyphicon-download-alt transparentButton" title="Download Attachment"></button>
                <button ng-click="removeAttachment(attachment)" class="btn btn-xs glyphicon glyphicon-remove transparentButton" title="Remove Attachment"></button>
            </div>
        </div>
    </div>
    <hr />
    <div>
        <div class="panel">
            <div class="panel-header" style="background-color: #eaeaea; padding: 4px;"><strong>Task List</strong></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-1" style="width: 30px;padding: 0px;"><strong>Action</strong></div>
                    <div class="col-lg-5">
                        <strong>Name</strong>
                    </div>
                    <div class="col-lg-1">
                        <strong>Min (h)</strong>
                    </div>
                    <div class="col-lg-1">
                        <strong>Max (h)</strong>
                    </div>
                    <div class="col-lg-1">
                        <strong>Likely (h)</strong>
                    </div>
                    <div class="col-lg-1">
                        <strong>Weighted Avrg. (h)</strong>
                    </div>
                    <div class="col-lg-2">
                        <strong>Assigned To</strong>
                    </div>
                </div>
                <div style="max-height: 500px; overflow-x: hidden; overflow-y: auto;">
                    <div ng-if="!tasks.length" class="col-lg-12 text-center">No items were created</div>
                    <div ng-repeat="item in tasks" class="row">
                        <div class="col-lg-1" style="width: 30px;">
                            <button ng-click="editTaskDetails(task)" class="btn btn-xs btn-flat" style="border: none; color: green; background-color: transparent;"></button>
                            <button ng-click="editTaskDetails(task)" class="glyphicon glyphicon-edit" style="border: none; color: green; background-color: transparent;"></button>
                        </div>
                        <div ng-dblclick="editItem(item, $event, itemNameForm)" class="col-lg-5">
                            <div ng-if="!itemNameForm.$visible" ng-click="goToTask(item)" class="truncate-text" title="{{ item.name || '-' }}"
                                 style="display: inline-block; cursor: pointer;">{{ item.name || '-' }}</div>
                            <form name="itemNameForm">
                                <div ng-if="itemNameForm.$visible" style="display: inline-block; width: 100%;">
                                    <input ng-model="item.name" type="text" class="col-lg-10 form-control input-sm editable-field" style="width: 90%">
                                    <span ng-click="closeEditItem(itemNameForm)" class="glyphicon glyphicon-remove transparentButton col-lg-1"></span>
                                </div>
                            </form>
                        </div>
                        <div ng-dblclick="editItem(item, $event, itemMinForm)" class="col-lg-1">
                            <div ng-if="!itemMinForm.$visible" style="display: inline-block;">{{ item.min || '-' }}</div>
                            <form name="itemMinForm">
                                <div ng-if="itemMinForm.$visible" style="display: inline-block; width: 70px;">
                                    <input ng-model="item.min" type="number" class="col-lg-10 form-control input-sm editable-field" style="width: 40px;">
                                    <span ng-click="closeEditItem(itemMinForm)" class="glyphicon glyphicon-remove transparentButton col-lg-1"></span>
                                </div>
                            </form>
                        </div>
                        <div ng-dblclick="editItem(item, $event, itemMaxForm)" class="col-lg-1">
                            <div ng-if="!itemMaxForm.$visible" style="display: inline-block;">{{ item.max || '-' }}</div>
                            <form name="itemMaxForm">
                                <div ng-if="itemMaxForm.$visible" style="display: inline-block; width: 70px;">
                                    <input ng-model="item.max" type="number" class="col-lg-10 form-control input-sm editable-field" style="width: 40px;">
                                    <span ng-click="closeEditItem(itemMaxForm)" class="glyphicon glyphicon-remove transparentButton col-lg-1"></span>
                                </div>
                            </form>
                        </div>
                        <div ng-dblclick="editItem(item, $event, itemLikelyForm)" class="col-lg-1">
                            <div ng-if="!itemLikelyForm.$visible" style="display: inline-block;">{{ item.likely || '-' }}</div>
                            <form name="itemLikelyForm">
                                <div ng-if="itemLikelyForm.$visible" style="display: inline-block; width: 70px;">
                                    <input ng-model="item.likely" type="number" class="col-lg-10 form-control input-sm editable-field" style="width: 40px;">
                                    <span ng-click="closeEditItem(itemLikelyForm)" class="glyphicon glyphicon-remove transparentButton col-lg-1"></span>
                                </div>
                            </form>
                        </div>
                        <div ng-dblclick="editItem(item, $event, itemWeightAvrgForm)" class="col-lg-1">
                            <div ng-if="!itemWeightAvrgForm.$visible" style="display: inline-block;">{{ item.weighted_avg || '-' }}</div>
                            <form name="itemWeightAvrgForm">
                                <div ng-if="itemWeightAvrgForm.$visible" style="display: inline-block; width: 70px;">
                                    <input ng-model="item.weighted_avg" type="number" class="col-lg-10 form-control input-sm editable-field" style="width: 40px;">
                                    <span ng-click="closeEditItem(itemWeightAvrgForm)" class="glyphicon glyphicon-remove transparentButton col-lg-1"></span>
                                </div>
                            </form>
                        </div>
                        <div ng-dblclick="editItem(item, $event,itemAssignedToForm)" class="col-lg-2">
                            <div ng-if="!itemAssignedToForm.$visible" class="truncate-text" style="display: inline-block;" title="{{ getAssignedUsers(item.assignedTo) || '-' }}">
                                {{ getAssignedUsers(item.assignedTo) || '-' }}
                            </div>
                            <form name="itemAssignedToForm">
                                <div ng-if="itemAssignedToForm.$visible" style="display: inline-block; width: 145px;">
                                    <select ng-model="item.assignedTo" ng-options="user for user in users" multiple="multiple" class="col-lg-10 form-control input-sm" style="width: 113px;">
                                        <option value="''">Not Assigned</option>
                                    </select>
                                    <span ng-click="closeEditItem(itemAssignedToForm)" class="glyphicon glyphicon-remove transparentButton col-lg-1"></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div>
                    <form name="newItemForm" class="form-inline">

                        <div class="form-group">
                            <input ng-model="newItem.name"
                                   ng-class="{'has-error': newItemForm.committed && !newItemForm.name.$valid}"
                                   name="name" type="text" placeholder="Item Name" class="form-control input-sm" required ng-maxlength="255">


                        </div>
                        <span ng-show="newItemForm.committed && newItemForm.name.$error.required">Item name cannot be left blank</span>
                        <span ng-show="newItemForm.committed && newItemForm.name.$error.maxlength">Item name to long</span>
                        <!--<div class="form-group">-->
                            <!--<div style="display: inline-block; width: 145px;">-->
                                <!--<select ng-model="newItem.assignedTo" ng-options="user for user in users" multiple="multiple" class="col-lg-10 form-control input-sm" style="width: 113px;">-->
                                    <!--<option value="''">Not Assigned</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <button ng-click="addNewItem(newItem, newItemForm)" class="btn btn-default">Add Item</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>