<div class="row" ng-init="init()">
    <div class="panel">
        <div class="panel-body">
            <div>
                <div class="row">
                    <div class="col-lg-4"><strong>Description</strong></div>
                    <div class="col-lg-2 text-center"><strong>Priority</strong></div>
                    <div class="col-lg-2 text-center"><strong>Status</strong></div>
                    <div class="col-lg-1 text-center"><strong>Estimate</strong></div>
                    <div class="col-lg-1 text-center"><strong>Estimate remaining</strong></div>
                    <div class="col-lg-1 text-center"><strong>Spent time</strong></div>
                    <div class="col-lg-1 text-center"><strong>Heartbeat</strong></div>
                </div>
                <div class="row">
                    <div class="" style="margin-top: 0;" ng-repeat="changeRequest in changeRequests track by changeRequest.id">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div style="padding-bottom: 10px; padding-top: 10px;">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <span ng-if="calculateHeartBeatByCr(changeRequest) != 0" class="glyphicon glyphicon-warning-sign" style="color: #c68282;"></span>
                                            <b>CR-#{{ changeRequest.id }} </b>
                                            <span ng-click="goToCr(changeRequest)" style="cursor: pointer;">{{ changeRequest.name || '-' }}</span>
                                        </div>

                                        <div ng-dblclick="editItem(changeRequest.priority, $event, priorityForm)" class="text-center col-lg-2">
                                            <div ng-if="!priorityForm.$visible" class="label col-lg-6 col-lg-offset-3"
                                                 ng-class="{'label-new': changeRequest.priority == 1,
                                                            'label-in-analysis': changeRequest.priority == 2,
                                                            'label-in-progress': changeRequest.priority == 3,
                                                            'label-on-hold': changeRequest.priority == 4}">
                                                {{ getPriorityName(changeRequest.priority) || 'Critical' }}
                                            </div>
                                            <form name="priorityForm">
                                                <div ng-if="priorityForm.$visible" style="display: inline-block; width: 145px;">
                                                    <select ng-model="changeRequest.priority" ng-options="priority.id as priority.name for priority in priorities"
                                                            class="col-lg-10 form-control input-sm" style="width: 113px;">
                                                        <option value="''">Not Selected</option>
                                                    </select>
                                                    <span ng-click="closeEditItem(priorityForm)" class="glyphicon glyphicon-remove transparentButton col-lg-1"></span>
                                                </div>
                                            </form>
                                        </div>

                                        <div ng-dblclick="editItem(changeRequest.status, $event, statusForm)" class="text-center col-lg-2">
                                            <div ng-if="!statusForm.$visible" class="label col-lg-6 col-lg-offset-3" ng-class="{'label-new': changeRequest.status == 1,
                                                'label-in-analysis': changeRequest.status == 2,
                                                'label-in-progress': changeRequest.status == 3,
                                                'label-on-hold': changeRequest.status == 4,
                                                'label-complete': changeRequest.status == 5}" >
                                                {{ getStatusName(changeRequest.status) || 'New' }}
                                            </div>
                                            <form name="statusForm">
                                                <div ng-if="statusForm.$visible" style="display: inline-block; width: 145px;">
                                                    <select ng-model="changeRequest.status" ng-options="status.id as status.name for status in statuses"
                                                            class="col-lg-10 form-control input-sm" style="width: 113px;">
                                                        <option value="''">Not Selected</option>
                                                    </select>
                                                    <span ng-click="closeEditItem(statusForm)" class="glyphicon glyphicon-remove transparentButton col-lg-1"></span>
                                                </div>
                                            </form>
                                        </div>

                                        <div ng-if = "changeRequest.tasks.length == 1" ng-dblclick="editItem(changeRequest.tasks[0], $event, taskEstimateForm)" class="col-lg-1 text-center">
                                            <div ng-if="!taskEstimateForm.$visible">{{ changeRequest.tasks[0].estimate || '-' }}</div>
                                            <form name="taskEstimateForm">
                                                <div ng-if="taskEstimateForm.$visible" style="display: inline-block; width: 70px;">
                                                    <input ng-model="changeRequest.tasks[0].estimate" type="text" class="col-lg-10 form-control input-sm editable-field" style="width: 40px;">
                                                    <span ng-click="closeEditItem(taskEstimateForm)" class="glyphicon glyphicon-remove transparentButton col-lg-1"></span>
                                                </div>
                                            </form>
                                        </div>

                                        <div ng-if = "changeRequest.tasks.length > 1" class="col-lg-1 text-center">{{ calculateEstimate(changeRequest) || '-' }}</div>
                                        <div class="col-lg-1 text-center">{{ calculateEstimate(changeRequest) - calculateSpentTime(changeRequest) || '-' }}</div>
                                        <div class="col-lg-1 text-center">{{ calculateSpentTime(changeRequest) || '-' }}</div>
                                        <div ng-class="{'red-heartbeat': calculateHeartBeatByCr(changeRequest) > 0,
                                                        'green-heartbeat': calculateHeartBeatByCr(changeRequest) < 0,
                                                        'blue-heartbeat': calculateHeartBeatByCr(changeRequest) == 0}"
                                             class="col-lg-1 text-center">{{ calculateHeartBeatByCr(changeRequest) || '0' }}</div>
                                    </div>
                                    <div ng-if = "changeRequest.tasks.length > 1" class="col-lg-12" style="border-bottom: solid 1px #ddd; margin-top: 15px;"></div>
                                </div>

                                <div class="" ng-if = "changeRequest.tasks.length > 1" ng-repeat="task in changeRequest.tasks track by task.id" style="margin-bottom: 20px; margin-top: 20px">
                                    <div class="row">
                                        <div class="col-lg-6" style="padding-left: 3%">
                                            <b>T-#{{ changeRequest.id }} </b>
                                            <span ng-click="goToTask(task)" style="cursor: pointer;">{{ task.name || '-' }}</span>
                                        </div>
                                        <div class="text-center col-lg-2">
                                            <div class="label col-lg-6  col-lg-offset-3" ng-class="{'label-new': task.status == 1,
                                                'label-in-analysis': task.status == 2,
                                                'label-in-progress': task.status == 3,
                                                'label-on-hold': task.status == 4,
                                                'label-complete': task.status == 5}">
                                                {{ getStatusName(task.status) || 'New' }}
                                            </div>
                                        </div>

                                        <div ng-dblclick="editItem(task, $event, taskEstimateForm)" class="col-lg-1 text-center">
                                            <div ng-if="!taskEstimateForm.$visible || task.status == 5" >{{ task.estimate || '-' }}</div>
                                            <form name="taskEstimateForm">
                                                <div ng-if="taskEstimateForm.$visible && task.status != 5" style="display: inline-block; width: 70px;">
                                                    <input ng-model="task.estimate" type="number" class="col-lg-10 form-control input-sm editable-field" style="width: 40px;">
                                                    <span ng-click="closeEditItem(taskEstimateForm)" class="glyphicon glyphicon-remove transparentButton col-lg-1"></span>
                                                </div>
                                            </form>
                                        </div>

                                        <div ng-dblclick="editItem(task, $event, taskEstimateRemainigForm)" class="col-lg-1 text-center">
                                            <div ng-if="!taskEstimateRemainigForm.$visible || task.status == 5" >{{ task.remaining || '-' }}</div>
                                            <form name="taskEstimateRemainigForm">
                                                <div ng-if="taskEstimateRemainigForm.$visible && task.status != 5" style="display: inline-block; width: 70px;">
                                                    <input ng-model="task.remaining" type="number" class="col-lg-10 form-control input-sm editable-field" style="width: 40px;">
                                                    <span ng-click="closeEditItem(taskEstimateRemainigForm)" class="glyphicon glyphicon-remove transparentButton col-lg-1"></span>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="col-lg-1 text-center"
                                             data-task1="task"
                                             data-placement="left"
                                             data-content="Test"
                                             bs-popover
                                             data-template="task.spent.form.html" >
                                            {{ task.spent || '-' }}
                                        </div>

                                        <div ng-class="{'red-heartbeat': calculateHeartBeatByTask(task) > 0,
                                                        'green-heartbeat': calculateHeartBeatByTask(task) < 0,
                                                        'blue-heartbeat': calculateHeartBeatByTask(task) == 0}"
                                             class="col-lg-1 text-center">{{ calculateHeartBeatByTask(task) || '0' }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="task.spent.form.html" type="text/ng-template">
    <div class="popover" tabindex="-1" ng-keypress="stopBlockUIonEscapeEvent($event, this)" ng-show="content" style="min-width: 450px; z-index: 99999;">
        <div class="arrow"></div>
        <h2 class="popover-title" ng-bind-html="title" ng-show="title" style="font-weight: bold"></h2>
        <div class="popover-content">
            <fieldset class="fieldset-section">
                <legend class="group-legend">Statistics</legend>
                <div class="col-lg-12" style="border-bottom: solid 1px #ddd; font-weight: bold; margin-bottom: 5px">
                    <div class="col-lg-5"> Date </div>
                    <div class="col-lg-5"> Track By </div>
                    <div class="col-lg-2"> Spent Time </div>
                </div>
                <div class="col-lg-12" ng-repeat="log in task.statistics">
                    <div class="col-lg-5"> {{log.date}}</div>
                    <div class="col-lg-5"> {{log.trackedBy}} </div>
                    <div class="col-lg-2"> {{log.actValue}}h</div>
                </div>
            </fieldset>
            <div class="form-actions pull-right" style="margin-bottom: 10px">
                <button type="button" class="btn btn-sm btn-default" ng-click="$hide();clBlockUI.stop()">Close</button>
            </div>
        </div>
    </div>
</script>