<div class="row" style="margin-bottom: 20px;">
    <div class="col-lg-2" style="display: inline-block;">
        Current Project: <strong>{{ currentProject.name }}</strong>
    </div>
    <div class="col-lg-2" style="display: inline-block;">
        Current Release: <strong>{{ currentRelease.name }}</strong>
    </div>
    <div class="col-lg-2" style="display: inline-block;">
        Current Sprint: <strong>{{ currentSprint }}</strong>
    </div>
    <div class="col-lg-2" style="display: inline-block;">
        PM: <strong>{{ assignedPm }}</strong>
    </div>
</div>

<div class="row" style="margin-bottom: 20px;">
    <div ng-if="!main.showBreadcrambs">
        <div class="bread-crumb ng-scope" ng-if="main.showBreadcrambs">
            <ul >
                <li class="bread-crumb-line-height">
                    <a class="bread-crumb-link ng-binding ng-scope" href="#/pm">Main View</a>
                    <span class="glyphicon glyphicon-chevron-right" style="color: #A3A3A3"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel  panel-default">
        <div class="panel-body">
            <canvas id="line" class="chart chart-line" data="data"
                    labels="labels" legend="true" series="series"
                    click="onClick">
            </canvas>
        </div>
    </div>

</div>
